<h1>Mail</h1>
<nav>
  <ul>
    <li>{{#link-to 'folder' 'inbox'}}
      Inbox {{#if model.length}}({{model.length}}){{/if}}
      {{/link-to}}
    </li>
    <!-- technically if no mail dont return model.length, else do -->
  </ul>
</nav>
{{outlet}}
